.invisible[aos~="slide-up"] {
    transform: translateY(2rem);
}

.invisible[aos~="slide-up"][aos*="far"] {
    transform: translateY(4rem);
}

.invisible[aos~="slide-down"] {
    transform: translateY(-2rem);
}

.invisible[aos~="slide-down"][aos*="far"] {
    transform: translateY(-4rem);
}

.invisible[aos~="slide-left"] {
    transform: translateX(2rem);
}

.invisible[aos~="slide-left"][aos*="far"] {
    transform: translateX(4rem);
}

.invisible[aos~="slide-right"] {
    transform: translateX(-2rem);
}

.invisible[aos~="slide-right"][aos*="far"] {
    transform: translateX(-4rem);
}

.invisible[aos~="grow"] {
    transform: scale(0.5);
}

.invisible[aos~="grow"][aos*="far"] {
    transform: scale(0);
}

.invisible[aos~="horizontal-grow"] {
    transform: scaleX(0);
}

.invisible[aos~="horizontal-grow-right"] {
    transform: scaleX(0);
}

[aos~="horizontal-grow-right"] {
    transform-origin: left;
}

.invisible[aos~="horizontal-grow-left"] {
    transform: scaleX(0);
}

[aos~="horizontal-grow-left"] {
    transform-origin: right;
}

.invisible[aos~="fade"] {
    opacity: 0;
}

.visible[aos] {
    transition: all 0.5s var(--s-curve);
}

.visible[aos~="fast"] {
    transition: all 0.3s var(--s-curve);
}

.visible[aos~="slow"] {
    transition: all 1s var(--s-curve);
}

.invisible[aos][aos~="fire-multiple"] {
    transition: all 0.5s var(--s-curve);
}

.invisible[aos~="fast"][aos~="fire-multiple"] {
    transition: all 0.3s var(--s-curve);
}

.invisible[aos~="slow"][aos~="fire-multiple"] {
    transition: all 1s var(--s-curve);
}


@media screen and (max-width: 720px) {
    .invisible[aos-mobile] {
        transform: none;
        transform-origin: center;
        opacity: 1;
    }

    .invisible[aos-mobile~="slide-up"] {
        transform: translateY(2rem);
    }
    
    .invisible[aos-mobile~="slide-up"][aos-mobile*="far"] {
        transform: translateY(4rem);
    }
    
    .invisible[aos-mobile~="slide-down"] {
        transform: translateY(-2rem);
    }
    
    .invisible[aos-mobile~="slide-down"][aos-mobile*="far"] {
        transform: translateY(-4rem);
    }
    
    .invisible[aos-mobile~="slide-left"] {
        transform: translateX(2rem);
    }
    
    .invisible[aos-mobile~="slide-left"][aos-mobile*="far"] {
        transform: translateX(4rem);
    }
    
    .invisible[aos-mobile~="slide-right"] {
        transform: translateX(-2rem);
    }
    
    .invisible[aos-mobile~="slide-right"][aos-mobile*="far"] {
        transform: translateX(-4rem);
    }

    .invisible[aos-mobile~="grow"] {
        transform: scale(0.5);
    }
    
    .invisible[aos-mobile~="grow"][aos-mobile*="far"] {
        transform: scale(0);
    }
    
    .invisible[aos-mobile~="horizontal-grow"] {
        transform: scaleX(0);
    }
    
    .invisible[aos-mobile~="horizontal-grow-right"] {
        transform: scaleX(0);
    }
    
    [aos-mobile~="horizontal-grow-right"] {
        transform-origin: left;
    }
    
    .invisible[aos-mobile~="horizontal-grow-left"] {
        transform: scaleX(0);
    }
    
    [aos-mobile~="horizontal-grow-left"] {
        transform-origin: right;
    }
    
    .invisible[aos-mobile~="fade"] {
        opacity: 0;
    }
}
