:root {
    --understated-text: #cdcdcd;
    --background: #171717;
    --lighter-background: #313131;
    --ucf-accent: #FFC904;
    --text: #ECECEC;
    --accent: #D42121;
    --alternate-accent: #d48921;

    --gradient: linear-gradient(135deg, rgba(212,33,33,1) 0%, rgba(212,137,33,1) 100%);

    --main-font: "Segoe UI", "Helvetica", "Arial", sans-serif;

    --s-curve: cubic-bezier(0.6, 0, 0.4, 1);

    --mobile-icon-height: 1.8rem;

    perspective-origin: center;
}

* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

body {
    background-color: var(--background);

    font-family: var(--main-font);
    margin: 0;

    overflow-x: hidden;

    padding: 1.3rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;

    color: var(--text);
}

.content.hidden {
    display: none;
    background-color: var(--accent);
}

a {
    text-decoration: none;
    color: var(--ucf-accent);

    transition: all 0.25s var(--s-curve);
}

a:link, a:visited {
    color: var(--ucf-accent);
}

a:hover {
    color: var(--accent);
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;

    letter-spacing: 0.25rem;
}

h2 {
    font-size: 2.7rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

h4 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

.understated {
    color: var(--understated-text);
}

.understated-subtitle {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

#nav-logo {
    fill: var(--accent);
    min-height: 4.25rem;
    height: 4.25rem;
}

#nav-hamburger {
    display: none;

    stroke: var(--accent);
    stroke-linecap: round;
    stroke-width: 3rem;
    
    min-height: var(--mobile-icon-height);
    height: var(--mobile-icon-height);

    cursor: pointer;
}

#nav-link-list {
    display: flex;
}

.nav-link, .nav-link:link, .nav-link:visited {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--text);

    width: 7rem;

    margin: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;

    cursor: pointer;
}

.nav-link:hover .nav-link-line, .nav-link:focus .nav-link-line {
    background-color: var(--accent);
    transform: scaleX(1);
}

.nav-link-line {
    background-color: var(--text);
    opacity: 35%;

    width: 100%;
    height: 4px;
    border-radius: 4px;

    transform: scaleX(0);

    transition: all 0.25s var(--s-curve);
}

.nav-link.active .nav-link-line {
    background-color: var(--accent);
    opacity: 100%;

    transform: scaleX(1);
}

.nav-link p {
    font-size: 1.5rem;
    text-align: center;

    margin: 0;
    margin-top: 0.4rem;
}

#mobile-nav {
    display: none;

    background-color: var(--accent);

    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 99;

    padding: 2.2rem;

    flex-direction: column;
    justify-content: center;

    transition: left 1s var(--s-curve);
}

#mobile-nav.active {
    left: 0;
}

#mobile-nav-cross {
    position: absolute;

    stroke: var(--text);

    min-height: var(--mobile-icon-height);
    height: var(--mobile-icon-height);

    top: 2.2rem;
    right: 3.2rem;

    stroke-linecap: round;
    stroke-width: 3rem;

    cursor: pointer;
}

#mobile-nav-logo {
    fill: none;
    stroke: var(--text);

    stroke-width: 0.5rem;

    min-height: 4.25rem;
    height: 4.25rem;

    margin-bottom: 1.75rem;
}

#mobile-nav .divider {
    background-color: var(--text);
}

#mobile-nav-link-list {
    display: flex;
    flex-direction: column;

    margin-top: 3.3rem;
}

.mobile-nav-link {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--text);

    margin-bottom: 1.3rem;
}

.divider {
    background-color: var(--accent);

    height: 3px;

    margin: 2.5rem 0 2.5rem 0;
}

.divider.invisible {
    opacity: 0;
}

main {
    max-width: 1300px;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#section-introduction > * {
    margin-bottom: 2rem;
}

#introduction-hi {
    font-size: 6rem;
}

#introduction-description {
    font-size: 2.1rem;
}

#section-introduction span {
    font-weight: bold;
}

#section-introduction #ucf {
    color: var(--ucf-accent);
}

#section-introduction #uiux {
    color: var(--accent);
}

#section-introduction img {
    width: 41rem;
    height: auto;

    margin-bottom: 0.5rem;
}

#slideshow {
    width: 70%;
    margin: 0 5% 0 5%;

    height: 35rem;
}

#slideshow-wrapper {
    display: flex;

    height: 100%;

    overflow-x: visible;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    transition: transform 1.5s var(--s-curve);
}

#slideshow-wrapper::-webkit-scrollbar {
    height: 0;
}

.card {
    height: auto;
    flex-shrink: 0;

    scroll-snap-align: start;

    position: relative;
    overflow: hidden;

    margin-left: 5rem;
    margin-right: 5rem;
}

.card-content {
    box-sizing: border-box;
}

.button {
    background-color: var(--accent);
    color: var(--text);
    border-radius: 2rem;

    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    font-size: 1.2rem;

    cursor: pointer;

    width: fit-content;

    transition: background-color 0.25s var(--s-curve);
}

.button:visited, .button:link {
    color: var(--text);
}

.button:hover {
    background-color: var(--alternate-accent);
    color: var(--text);
}

#slideshow-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3.25rem;
    padding-bottom: 2.5rem;
}

.slideshow-button {
    width: 20%;
    height: 0.5rem;
    background-color: var(--text);

    border-radius: 0.5rem;

    opacity: 35%;

    cursor: pointer;

    transition: background-color 0.25s var(--s-curve), opacity 0.25s var(--s-curve);
}

.slideshow-button:hover {
    background-color: var(--accent);
}

.slideshow-button.active {
    background-color: var(--accent);

    opacity: 100%;
}

footer {
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
}

#icon-linkedin {
    margin-right: 1.5rem;
}

#icon-linkedin * {
    min-height: 21px;
    height: 3rem;

    width: auto;

    transition: opacity 0.25s var(--s-curve);
}

#icon-linkedin:hover * {
    opacity: 75%;
}

#icon-github * {
    min-height: 21px;
    height: 3rem;

    transition: opacity 0.25s var(--s-curve);
} 

#icon-github:hover * { 
    opacity: 75%;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


/* ---Breakpoints--- */
@media only screen and (min-width: 720px) {
    main {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile */
@media only screen and (max-width: 720px) {
    html {
        scroll-snap-type: none;
    }

    h1 {
        line-height: 100%;
    }

    body {
        text-align: center;

        padding-left: 1rem;
        padding-right: 1rem;
    }

    nav {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #nav-logo {
        min-height: calc(var(--mobile-icon-height) * 1.5);
        height: calc(var(--mobile-icon-height) * 1.5);
    }

    #nav-hamburger {
        display: block;
    }

    #nav-link-list {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

    #section-introduction img {
        width: 100%;
    }

    #slideshow {
        width: 100%;
        margin: 1.5rem;
        margin-left: 0;
        margin-right: 0;
        height: 30rem;
    }

    .card {
        justify-content: center;

        cursor: pointer;
    }

    .card-content {
        justify-content: center;
    }

    .card-copy {
        margin-right: 0;

        z-index: 5;
    }

    .card-copy-titles {
        align-self: auto;
        align-items: center;
    }

    .card-copy-description.hidden {
        opacity: 0;
    }

    .card img {
        display: none;
    }

    .card-background {
        filter: brightness(60%);

        transition: filter 0.5s var(--s-curve);
    }

    .card-background.hidden {
        filter: brightness(70%) blur(1rem);
    }

    footer {
        flex-direction: column;

        font-size: 1rem;
    }

    #icon-linkedin * {
        min-height: 21px;
        height: var(--mobile-icon-height);

        width: auto;
    }
    
    #icon-github * {
        min-height: 21px;
        height: var(--mobile-icon-height);
    }
}

/* End of breakpoints */