:root {
    --understated-text: #a9a9a9;
    --background: #171717;
    --lighter-background: #313131;
    --ucf-accent: #FFC904;
    --text: #ECECEC;
    --accent: #D42121;
    --accent-highlight: #ee4545;
    --alternate-accent: #d48921;
    --alternate-accent-highlight: #e9a353;

    --frosted-background: rgba(179, 53, 53, 0.3);
    --frosted-background-opaque: rgb(179, 53, 53);
    --frosted-outline: rgba(233, 83, 83, 0.3);
    --frosted-shadow: rgba(34, 17, 17, 0.333);

    --gradient: linear-gradient(135deg, rgba(212,33,33,1) 0%, rgba(212,137,33,1) 100%);

    --main-font: "Segoe UI", "Helvetica", "Arial", sans-serif;

    --s-curve: cubic-bezier(0.6, 0, 0.4, 1);

    --mobile-icon-height: 1.8rem;

    perspective-origin: center;
}

* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

::-webkit-scrollbar-track {
    background: var(--lighter-background);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--alternate-accent);
}

::-webkit-scrollbar {
    width: 7px;
}

body {
    background-color: var(--background);

    font-family: var(--main-font);
    margin: 0;

    overflow-x: hidden;

    padding-top: 4.25rem;

    color: var(--text);
}

.content.hidden {
    display: none;
    background-color: var(--accent);
}

a {
    text-decoration: none;
    color: var(--ucf-accent);

    transition: all 0.25s var(--s-curve);
}

a:hover {
    color: var(--alternate-accent);
}

h2 {
    font-size: 2.7rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 0.5em;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 0.5rem;

    background-color: var(--accent);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);

    position: fixed;
    width: 80vw;
    top: 0;
    left: 10vw;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    height: 4.25rem;

    z-index: 2;

    transition: all 1s var(--s-curve);
}

nav.hidden {
    transform: translateY(-3.5rem);
}

#nav-logo {
    fill: var(--background);
    height: 3rem;
}

#nav-hamburger {
    display: none;

    stroke: var(--background);
    stroke-linecap: round;
    stroke-width: 3rem;
    
    min-height: var(--mobile-icon-height);
    height: var(--mobile-icon-height);

    cursor: pointer;
}

#nav-link-list {
    display: flex;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--color);

    width: 7rem;

    margin: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;

    cursor: pointer;
}

.nav-link:hover .nav-link-line, .nav-link:focus .nav-link-line {
    background-color: var(--background);
    transform: scaleX(1);
}

.nav-link:hover {
    color: var(--background);
}

.nav-link-line {
    background-color: var(--background);
    opacity: 35%;

    width: 100%;
    height: 4px;
    border-radius: 4px;

    transform: scaleX(0);

    transition: all 0.25s var(--s-curve);
}

.nav-link.active .nav-link-line {
    background-color: var(--background);
    opacity: 100%;

    transform: scaleX(1);
}

.nav-link p {
    font-size: 1.5rem;
    text-align: center;

    margin: 0;
    margin-top: 0.4rem;
}

#mobile-nav {
    display: none;

    background-color: var(--background);

    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 99;

    padding: 1rem;

    flex-direction: column;
    justify-content: center;

    transition: left 1s var(--s-curve);
}

#mobile-nav.active #mobile-nav-divider {
    animation-name: mobileNavbarGrow;
    animation-duration: 0.75s;
    animation-timing-function: var(--s-curve);
    animation-delay: 1s;
    animation-fill-mode: both;
}

#mobile-nav.active {
    left: 0;
}

#mobile-nav-cross {
    position: absolute;

    stroke: var(--text);

    min-height: var(--mobile-icon-height);
    height: var(--mobile-icon-height);

    top: 2.2rem;
    right: 3.2rem;

    stroke-linecap: round;
    stroke-width: 3rem;

    cursor: pointer;

    transition: all 0.25s var(--s-curve);
}

#mobile-nav-cross:hover {
    stroke: var(--accent);
}

#mobile-nav-logo {
    fill: none;
    stroke: var(--accent);

    stroke-width: 0.5rem;

    min-height: 4.25rem;
    max-height: 6rem;

    margin-bottom: 1.75rem;
}

#mobile-nav-link-list {
    display: flex;
    flex-direction: column;

    margin-top: 3.3rem;
}

.mobile-nav-link {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--text);

    margin-bottom: 1.3rem;
}

.mobile-nav-link.active {
    color: var(--accent);
}

.mobile-nav-link:hover {
    color: var(--accent);

    cursor: pointer;
}

.divider {
    background-color: var(--accent);

    height: 3px;

    margin: 2.5rem 2.75rem 2.5rem 2.75rem;
}

.divider.invisible {
    opacity: 0;
}

.divider.alternate {
    background-color: var(--text);
}

.divider.small {
    margin: 1.25rem 1.375rem 1.25rem 1.375rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 1.3rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
}

section#introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    text-align: center;
}

.video-wrapper {
    overflow: hidden;
}

.video-wrapper video {
    position: relative;
    left: 1px;
    bottom: 1px;
}

#name-animation {
    width: 80vw;
    height: auto;

    max-height: 30vh;

    margin: 2rem 0 2rem 0;
}

#introduction > * {
    font-size: 2.1rem;
}

#introduction #ucf {
    font-weight: bold;
    color: var(--ucf-accent);
    transition: all 0.25s var(--s-curve);
}

#introduction #ucf:hover {
    text-shadow: 0 0 1rem var(--ucf-accent);
    filter: brightness(110%);
}

#introduction img {
    max-width: 100%;
    width: 41rem;
    height: auto;

    margin-bottom: 0.5rem;
}

#projects {
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
}

#project-tiles {
    width: 100%;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-tile {
    display: grid;
    grid-template-columns: 65% 35%;

    height: 100vh;

    justify-content: center;
    align-items: center;

    height: fit-content;
}

.project-tile.reverse {
    grid-template-columns: 35% 65%;
}

.project-tile.reverse img {
    order: 1;
}

.project-tile .text {
    width: 100%;
    height: 100%;

    background-color: var(--accent);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
}

.project-tile .text .button {
    margin-top: 3rem;
    align-self: center;
}

.project-tile .header {
    text-align: center;
    font-size: 2rem;
}

.project-tile img {
    width: 100%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

.project-tile img.small {
    width: 50%;
    height: auto;
}

#project-modal {
    display: none;
    position: fixed;

    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
}

#project-modal.active {
    display: block;
}

#modal-content {
    position: absolute;

    overflow: hidden;

    display: flex;

    left: 15vw;

    width: 70vw;
    height: fit-content;
    max-height: 90vh;

    z-index: 1;

    border-radius: 32px;

    backdrop-filter: brightness(50%) blur(32px);

    -ms-overflow-style: none;
    scrollbar-width: none;

    color: var(--text);

    background-color: var(--frosted-background);
    border: 1px solid var(--frosted-outline);
    box-shadow: 0px 8px 16px 0px var(--frosted-shadow);
}

#modal-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: scroll;

    padding: 2rem;
}

#modal-content-wrapper::-webkit-scrollbar-track {
    background: var(--frosted-background);
    border-radius: 15px;
}

#modal-content-wrapper::-webkit-scrollbar-thumb {
    background: var(--frosted-background-opaque);
}

#modal-content-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--alternate-accent);
}

#project-modal.active #modal-content {
    animation-name: slideUp;
    animation-duration: 0.6s;
    animation-timing-function: var(--s-curve);
    animation-fill-mode: both;
}

#project-modal.active #modal-title {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-timing-function: var(--s-curve);
    animation-fill-mode: both;
}

#modal-images {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.image-container {
    max-width: calc(50% - 1rem);
}

.image-container img {
    width: 100%;
    height: auto;
}

#modal-title {
    font-size: 3rem;
}

#close-modal {
    position: absolute;

    width: 100%;
    height: 100%;
}

#project-modal.active #close-modal {
    animation-name: modalFadeIn;
    animation-duration: 0.75s;
    animation-timing-function: var(--s-curve);
    animation-fill-mode: both;
}

#close-modal:hover {
    cursor: pointer;
}

#image-zoom {
    display: none;
    position:fixed;

    left:0;
    top:0;

    width: 100vw;
    height: 100vh;

    z-index: 10;
}

#image-zoom.active {
    display: flex;

    justify-content: center;
    align-items: center;

    animation-name: animateFocus;
    animation-duration: 0.75s;
    animation-timing-function: var(--s-curve);
    animation-fill-mode: both;
}

#image-zoom img {
    width: 95vw;
    height: auto;

    z-index: 1;
}

#image-zoom img.height-centered {
    width: auto;
    height: 95vh;
}

#close-image-zoom {
    position: absolute;

    width: 100%;
    height: 100%;
}

#close-image-zoom:hover {
    cursor: pointer;
}

.project-thumbnail:hover {
    cursor: pointer;
}

.card {
    height: auto;
    flex-shrink: 0;

    scroll-snap-align: start;

    position: relative;
    overflow: hidden;

    margin-left: 5rem;
    margin-right: 5rem;
}

.card-content {
    box-sizing: border-box;
}

.button {
    background-color: var(--accent);
    color: var(--text);
    border-radius: 2rem;

    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    font-size: 1.2rem;

    cursor: pointer;

    width: fit-content;

    transition: background-color 0.25s var(--s-curve);
}

.button.alternate {
    background-color: var(--text);
    color: var(--background);   
}

.button:visited, .button:link {
    color: var(--text);
}

.button.alternate:visited, .button.alternate:link {
    color: var(--background);
}

.button:hover {
    background-color: var(--alternate-accent);
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact-subtitle.hidden {
    display: none;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin: 3rem;
}

#contact-form-inputs {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;

    width: 80vw;
    max-width: 900px;

    justify-content: center;
    align-items: center;
}

.contact-form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#contact-form-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact-form-message {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 100%;
}

#contact-form-message textarea {
    height: 100%;
}

#contact-form input, #contact-form textarea{
    background: var(--lighter-background);
    border: none;
    border-radius: 8px;

    color: var(--text);

    padding: 0.5rem;

    font-size: 1rem;
    font-family: inherit;

    outline: 0px solid transparent;

    order: 1;

    transition: box-shadow 0.25s var(--s-curve), outline 0.25s var(--s-curve);
}

#contact-form input + label, #contact-form textarea + label {
    transition: color 0.25s var(--s-curve);
}

#contact-form input:hover, #contact-form textarea:hover {
    box-shadow: 0 0 16px 0 var(--accent);
    outline: 2px solid var(--accent-highlight);
}

#contact-form input:hover + label, #contact-form textarea:hover + label {
    color: var(--accent-highlight);
    text-shadow: 0 0 8px var(--accent);
}

#contact-form input:focus, #contact-form textarea:focus {
    outline: 2px solid var(--alternate-accent-highlight);
    box-shadow: 0 0 16px 0 var(--alternate-accent);
}

#contact-form input:focus + label, #contact-form textarea:focus + label {
    color: var(--alternate-accent-highlight);
    text-shadow: 0 0 8px var(--alternate-accent);
}

#contact-form input[type="submit"] {
    width: 8rem;
    text-align: center;

    cursor: pointer;
}

label {
    text-align: left;
    margin-left: 0.5rem;
}

#contact-form.hidden {
    display: none;
}

p.hidden {
    display: none;
}

footer {
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;

    margin-bottom: 2rem;
}

#icon-linkedin {
    margin-right: 1.5rem;
}

#icon-linkedin * {
    min-height: 21px;
    height: 3rem;

    width: auto;

    transition: filter 0.25s var(--s-curve);
}

#icon-linkedin:hover * {
    filter: brightness(65%);
}

#icon-github * {
    min-height: 21px;
    height: 3rem;

    transition: filter 0.25s var(--s-curve);
} 

#icon-github:hover * { 
    filter: brightness(65%);
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


/* ---Animations--- */
@keyframes modalFadeIn {
    from {
        backdrop-filter: brightness(100%);
    }
    to {
        backdrop-filter: brightness(65%);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes animateFocus {
    from {
        backdrop-filter: brightness(100%) blur(0px);
        opacity: 0%;
    }
    to {
        backdrop-filter: brightness(25%) blur(8px);
        opacity: 100%;
    }
}

@keyframes mobileNavbarGrow {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}


/* ---Breakpoints--- */
@media only screen and (min-width: 720px) {
    footer {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Mobile */
@media only screen and (max-width: 720px) {
    html {
        scroll-snap-type: none;
    }

    h1 {
        line-height: 100%;
    }

    body {
        text-align: center;
    }

    nav {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #nav-logo {
        min-height: calc(var(--mobile-icon-height) * 1.5);
        height: calc(var(--mobile-icon-height) * 1.5);
    }

    #nav-hamburger {
        display: block;
    }

    #nav-link-list {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

    #section-introduction img {
        width: 100%;
    }

    .card {
        justify-content: center;

        cursor: pointer;
    }

    .card-content {
        justify-content: center;
    }

    .card-copy {
        margin-right: 0;

        z-index: 5;
    }

    .card-copy-titles {
        align-self: auto;
        align-items: center;
    }

    .card-copy-description.hidden {
        opacity: 0;
    }

    .card img {
        display: none;
    }

    .card-background {
        filter: brightness(60%);

        transition: filter 0.5s var(--s-curve);
    }

    .card-background.hidden {
        filter: brightness(70%) blur(1rem);
    }

    footer {
        flex-direction: column;

        font-size: 1rem;
    }

    .project-tile {
        grid-template-columns: 100%;
        background-color: var(--accent);
    }

    .project-tile img.small {
        width: 100%;
    }

    .project-tile .text {
        padding: 5rem 3rem 5rem 3rem;
    }

    .project-tile.reverse .text {
        background-color: var(--background);
    }

    .project-tile.reverse {
        grid-template-columns: 100%;
        background-color: var(--background);
    }

    .project-tile.reverse img {
        order: 0;
    }

    #modal-content {
        left: 2.5vw;

        width: 95vw;
    }

    #modal-images {
        align-items: center;
        flex-direction: column;
    }

    .image-container {
        max-width: 100%;
        height: auto;
    }

    #contact-form-inputs {
        grid-template-columns: 100%;
    }

    #contact-form-message textarea {
        min-height: 8rem;
    }

    #icon-linkedin * {
        min-height: 21px;
        height: var(--mobile-icon-height);

        width: auto;
    }
    
    #icon-github * {
        min-height: 21px;
        height: var(--mobile-icon-height);
    }
}

/* End of breakpoints */