#project-thumbnail {
    margin-top: 1.5rem;

    width: 90%;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-section {
    align-items: center;
}