#title-section {
    display: flex;
    flex-direction: column;
}

figure img {
    width: 100%;
    height: auto;
}

#project-thumbnail {
    align-self: center;
    display: flex;
    flex-direction: column;

    margin-top: 1.5rem;

    width: 80%;
    height: auto;
}

#project-thumbnail img {
    align-self: center;
}

article {
    display: grid;
    grid-template-columns: 40% 60%;

    width: 100%;

    gap: 1rem;

    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

article p {
    font-family: Georgia, 'Times New Roman', Garamond, serif;
    letter-spacing: 0.02rem;
    line-height: 140%;
    word-spacing: 0.1rem;
}