html
{
    max-width: 200em;
    margin: 0 auto;

    background-image: url(images/background-paper-stock.jpg);
    background-size: 50% auto;
}

body
{
    background-image: url(images/index-cafe-main.jpg);
    background-repeat: no-repeat;
    background-size: max(100vw, 100vh);
    background-attachment: fixed;

    margin: 0em;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1
{
    font-size: 2.5em;
}

h2
{
    font-size: 2em;
}

h3
{
    font-size: 1.5em;
}

h4
{
    font-size: 1.25em;
}

h5
{
    font-size: 1em;
}

h6
{
    font-size: 0.75em;
}

::-webkit-scrollbar
{
    display: none;
}

nav
{
    color: rgb(255, 255, 255);
    background-color: #311F1F;

    padding: 0.25em;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

 nav ul
 {
    padding-left: 0em;
 }

nav li 
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;

    text-align: center;

    margin-left: 1em;
    margin-right: 1em;

    list-style: none;
}

.nav-title
{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 2.5em;

    display: flex;
    flex-direction: row;

    margin: 0em;
    margin-left: 2em;
    margin-right: 1em;
}

.nav-links-container
{
   display: flex;
   flex-direction: row;
}

a
{
    text-decoration: none;
    color: white;

    transition: color 0.3s;
}

a:hover
{
    color: #72C077;
}

.section-full-container
{
    background-color: white;
    box-shadow: 0em 0em 0.75em -0.1em black inset;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    min-height: 20em;

    padding: 3em;
    padding-left: 8em;
    padding-right: 8em;
}

.section-full-wide
{
    padding-left: 2em;
    padding-right: 2em;
}

.section-full
{
    display: flex;
    flex-direction: column;
}

.section-half img
{
    width: 100%;
}

.section-full-empty
{
    width: 100%;
    min-height: 20em;
}

.section-half-container
{
    background-color: white;
    box-shadow: 0em 0em 0.75em -0.1em black inset;

    display: flex;
    align-items: center;

    min-height: 20em;

    padding: 3em;
}

.section-half
{
    display: flex;
    flex-direction: column;

    width: 50%;

    padding: 0.75em;
}

.section-third-container
{
    background-color: white;
    box-shadow: 0em 0em 0.75em -0.1em black inset;

    display: flex;
    align-items: center;
    justify-content: space-around;

    min-height: 20em;

    margin-left: 0em;
    margin-right: 0em;
}

.section-third
{
    display: flex;
    flex-direction: column;

    width: calc(100% / 3);

    padding: 1em;
}

.section-overlay
{
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 0.25em;

    width: fit-content;

    margin: 3em;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.section-centered
{
    align-items: center;

    flex-wrap: wrap;
    justify-content: space-around;
}

.section-dark
{
    background-color: #311F1F;
    
    color: white;

    box-shadow: none;
}

.section-menu
{
    background-image: url(images/background-paper-fine.jpg);
    background-size: 30%;
}

.section-open-transition
{
    overflow: hidden;

    min-height: 0em;
    max-height: 0em;
    min-width: 0em;
    max-width: 0em;

    transition: max-width 2s ease-in-out;
    transition: max-height 2s ease-in-out;
}

.section-open-transition.visible
{
    max-width: 100vw;
    max-height: 100vh;
}

.background-tint
{
    background-color: rgb(255, 255, 255, 0.8);
    background-blend-mode: lighten;
}

h1, h2
{
    letter-spacing: 0.05em;
}

h1, h2, h3
{
    color: #688a31;
}

.section-dark h1, .section-dark h2, .section-dark h3
{
    color: #9CDE9F;
}

.menu-header
{
    text-align: center;
    width: fit-content;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.4em;

    border-bottom-style: solid;
    border-bottom-width: 1px;
}

footer
{
    padding: 1em;
}

footer p
{
    margin-left: 0.5em;
    padding-right: 0.5em;

    border-right-width: 1px;
    border-right-style: solid;
}

.footer-brand
{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 2.5em;

    border-right-style: none;

    width: fit-content;

    margin: 0em;
    margin-left: 1em;
    margin-right: 1em;
}

.footer-links-container
{
    display: flex;
}

.footer-link-last
{
    border-right-style: none;
}

.footer-row
{
    padding-bottom: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: 10em;
    margin-right: 10em;
}

.footer-main-row
{
    text-align: center;
    
    border-bottom-style: solid;
    border-bottom-width: 1px;

    padding-bottom: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.open-accordian-list
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.open-accordian-list ul
{
    margin-top: 0em;

    padding-left: 0em;

    list-style-type: none;
}

.open-accordian-list ul li
{
    text-align: center;

    margin-bottom: 0.45em;
}

.open-accordian-list h3
{
    font-size: 1.25em;

    margin-bottom: 0.5em;
}

/*Tablets*/
@media only screen and (max-width: 900px)
{
    nav
    {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-title
    {
        justify-content: space-evenly;
    }

    .section-full-container
    {
        padding: 1.5em;
    }
    
    .section-half-container
    {
        flex-direction: column;
        min-height: 10em;

        padding: 1.5em;
    }

    .section-third-container
    {
        flex-wrap: wrap;
    }

    .section-full-empty
    {
        height: 10em;
    }

    .section-half
    {
        width: inherit;
    }

    .section-third
    {
        width: inherit;
    }

    .footer-main-row
    {
        justify-content: space-around;
    }

    .footer-row
    {
        margin-left: 2em;
        margin-right: 2em;
    }
}

/*Mobile*/
@media only screen and (max-width: 500px)
{
    nav ul
    {
        display: none;  
    }

    .open-accordian-list
    {
        margin-top: inherit;
        margin-bottom: inherit;
    }
}